@import "../utils/mixins";
@import "../utils/variables";

.card {
  display: flex;
  justify-content: space-between;
  background: $color-white;
  border-radius: 20px;
  cursor: pointer;
  @include box-shadow;
  margin-top: 25px;
  flex: 1 0 33%;
  overflow: hidden;
  @include desktop-size {
    flex: 25%;
    margin-left: 15px;
  }
  &:hover {
    @include shadowOne;
  }
  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-weight: $font-weight;
    margin-top: 18px;
    padding-right: 10px;
    text-align: right;
  }
  .circle-button {
    display: none;
    background: $color-white;

    width: 30%;
    padding-right: 10px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
  .circle-icon {
    display: flex;
    padding-top: 8px;
    font-size: 24px;
    background: $color-tertiary;
    color: $color-white;
    transform: rotate(360deg);
  }
}
.price:hover p {
  animation: checked-box ease 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  min-width: 50px;
}
.card:hover .circle-button {
  display: block;
  width: 100%;
  flex: 0 0 15%;
  background: $color-tertiary;
  object-fit: cover;
  max-width: 50px;
  overflow: hidden;
  animation: slide-icon ease 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

.card:hover .circle-icon {
  position: absolute;
  left: 27%;
  top: 30%;
  background: $color-tertiary;
  animation: rotation360 ease 0.5s 1;
}

@for $i from 1 through 15 {
  .fade-#{$i} {
    animation: fade 0.4s * $i;
  }
}
.spinLoader {
  animation: spinLoader 3s;
  animation-delay: 1s;
  animation-fill-mode: both;
  background: $color-background-animation;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 999;

  &::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

%animatedbefore {
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  top: 15px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: $color-secondary;
}

%animatedafter {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: $color-secondary;
}

.loader {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border: 4px solid transparent;
  border-top-color: $color-secondary;
  animation: loader 2s infinite;

  border-radius: 50%;
  overflow: hidden;
  padding: 10px;
  &::before {
    content: "";
    @extend %animatedbefore;
    animation: loader 2s infinite;
  }

  &::after {
    content: "";
    @extend %animatedafter;
    animation: loader 2s infinite;
  }
  &__cover {
    position: relative;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  &__bar {
    animation: loader 2s infinite;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    width: 50%;
    height: 50%;
    transform-origin: 100% 100%;
  }
} 
