@import "../utils/mixins";
@import "../utils/variables";

footer {
  background-color: $color-footer;
  color: $color-white;
  padding-top: 20px;
  padding-bottom: 20px;
  width: auto;
  & img {
    filter: invert(1);
    max-width: 150px;
    margin-left: 40px;
    &:hover {
      transform: scale(1.08);
    }
    @include tablette-size {
       justify-content: center;
    }
    @include desktop-size {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      padding-left: 30px;
      text-align: center;
      justify-content: center;
      max-width: 200px;
      width: auto;
    }
  }

  & a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: $color-white;
    font-family: $content-font;
        &:hover {
          transform: scale(1.08);
        }
  }

  .links {
    font-size: 12px;
    text-align: left;
    line-height: 0;

    @include tablette-size {
      text-align: center;
    }
    @include desktop-size {
      text-align: center;
      height: auto;
    }
  }

  & i {
    margin-right: 15px;
  }
}
