 @import "../utils/mixins";
@import "../utils/variables";

.home__button {
  display: block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  border-radius: 30px;
  font-size: 15px;
  justify-content: center;
  @include color-button;
  @include box-shadow;
  font-weight: $font-weight;
  margin: 20px;
  padding: 5px 30px;
  transition: 0.2s;
  width: 70%;
      &:hover {
        transform: scale(1.08);
      }
  @include tablette-size {
    margin: auto;
    width: 50%;
  }
  @include desktop-size {
    margin: auto;
    width: 30%;
  }

  & a {
    text-decoration: none;
    color: $color-white;
  }
  &:hover {
    @include color-button;
    @include box-shadow;
  }
}
.menu__button {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 30px;
  font-size: 15px;
  color: $color-white;
  @include color-button;
  @include box-shadow;
  font-weight: $font-weight;
  margin: 20px;
  padding: 5px 30px;
  transition: 0.2s;
        &:hover {
          transform: scale(1.08);
        }
  @include desktop-size {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 40%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
%likeanimated {
  transition: 0.5s 0s ease;
}

.like {
  display: flex;
  align-items: center;
  position: relative;
  text-align: right;
  margin-right: 22px;
  margin-top: 4px;

  .fa-heart:before {
    align-items: center;
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  i {
    font-size: 24px;
    left: 50%;
  }
  .after-icon {
    left: 0;
    opacity: 0;
    position: absolute;

    &:hover {
      opacity: 1;
      z-index: 999;
      @extend %likeanimated;
    }
  }
  &:hover {
    cursor: pointer;
    overflow: hidden;
    opacity: 1;
    @extend %likeanimated;
  }

  .before-icon:hover {
    opacity: 0;
    overflow: hidden;
    @extend %likeanimated;
  }
}
