@import "../utils/mixins";
@import "../utils/variables";
body {
  margin: 0;
  padding: 0;
  background-color: $color-white;
  font-family: $content-font;
  font-size: 18px;
  text-align: left;
  @include desktop-size {
    max-width: 1400px;
  }
}
