@import "../layout/animations";
@import "../layout/keyframes";
@import "../components/buttons";
@import "../utils/variables";
@import "../utils/mixins";

.menu {
  background-color: $color-background-menu;
  & main img {
    height: 270px;
    object-fit: cover;
    width: 100%;
    z-index: -1;
  }
  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $title-size;
    font-weight: $font-weight;
    font-family: $title-font;
    background-color: $color-background-menu;
    position: absolute;
    width: 98.43%;
    margin-top: -30px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;
    padding-left: 20px;
    height: 10%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
  }
  .like {
    margin-right: 30px;
    .fa-heart:before {
      background: -webkit-linear-gradient(#9356dc, #ff79da);
      background-clip: content-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  h4 {
    margin: 40px 0;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 0 0 15px;
    font-style: normal;
    @include desktop-size {
      display: block;
      width: 100%;
      justify-content: center;
    }
    &:after {
      border-bottom: 2px solid $color-tertiary;
      content: "";
      display: block;
      padding-top: 15px;
      width: 40px;
    }
  }
}
.menu__article {
  background: $color-background-menu;
  padding: 20px;
  display: block;

  @include desktop-size {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .card {
    line-height: 0;
    color: $color-black;
    @include desktop-size {
      max-width: 30%;
    }
  }
  .price {
    padding-bottom: 10px;
  }
  %text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .text {
    width: 100%;
    display: block;
    color: $color-black;
    @extend %text-overflow;
  }
  .title__choice {
    display: block;
    font-size: 16px;
    font-weight: $font-weight;
    color: $color-black;
    padding: 10px;
    margin-bottom: 0;

    @extend %text-overflow;
  }
  p.subTitle__choice {
    display: block;
     margin-top: 0;
    padding: 10px;
    font-size: 14px;
    color: $color-black;
    @extend %text-overflow;
  }
}
