/* Ombres des cards */
@mixin box-shadow {
  box-shadow: 0 5px 15px 0 #c3c3c3;
}
@mixin shadowOne {
  box-shadow: 0 5px 15px 0 #9d9d9d;
}

@mixin color-button {
  background: linear-gradient(#ff79da, #9356dc);
}
/* Media queries responsive */
@mixin smartphone-size {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
@mixin tablette-size {
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}
@mixin desktop-size {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}
@mixin likeanimated {
}
